[Unit]
After=network-online.target
Before=kubelet.service
Before=proxy.service
Description=Download Kubernetes Binaries
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=network-online.target

[Service]
ExecStart=/usr/bin/wget -N -P /opt/bin https://github.com/darkgaro/kubernetes-binaries/raw/master/kubelet
ExecStart=/usr/bin/wget -N -P /opt/bin https://github.com/darkgaro/kubernetes-binaries/raw/master/proxy
ExecStart=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/usr/bin/chmod +x /opt/bin/proxy
RemainAfterExit=yes
Type=oneshot

[X-Fleet]
X-ConditionMachineMetadata=kubernetes_role=minion
X-ConditionMachineID=<ID>
